html, body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    color: black;
    font-weight: bold;
    background-color: #2be207;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    text-align: center;
}

